<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 nopadding " id="leftnav" >
      <div class="panel panel-default left" >

        <div class="panel-body" style="background-color:rgb(25, 118, 210);height:100%; color:white;text-align:center;font-size:1.5em">
          <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" />
          <strong style="">Just a place holder</strong>
        </div>
      </div>
      <!-- <nav class="navbar-primary">
          <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
          <ul class="navbar-primary-menu">
            <li>
              <a href="#"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Dashboard</span></a>
              <a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Profile</span></a>
              <a href="#"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Settings</span></a>
              <a href="#"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Notification</span></a>
              <a href="#"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Monitor</span></a>
            </li>
          </ul>
        </nav> -->
    </div>


    <div class="col-md-10" id="center">
      <div class="row">
        <div class="top">
            <input type="checkbox" id="hamburger"/>
            <label class="menuicon" for="hamburger" (click)="toggle()">
              <span></span>
            </label>
            <div class="menu">
            </div>
        </div>
        <br/>
        <div style="height:800px;">
          <a type="button" class="btn btn-primary" (click)="saveWorkspace()">Save Route</a>
          <a type="button" class="btn btn-primary" (click)="loadWorkspace()">Reload</a>
          <a type="button" class="btn btn-primary" (click)="generateJavaCode()">Generate</a>

          <div id="blocklyDiv" style="height: 100%; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>